<div class="heading">

    <div *ngIf="history" class="table-responsive-md " id="">
        <h2>Your Orders </h2> 
 
        
          <table class="table table-borderles table-hover"  id="excel-table" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Company Name</th>
                    <th>Company Id</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Buy/Sell</th>
                    <th>Status</th>
                   
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let elements of history | async ">
                    <td data-label="Order ID">{{elements.index}}</td>
                    <td data-label="Company ID">{{elements.company_name}}</td>
                    <td data-label="Company Id">{{elements.company_id}}</td>
                    <td data-label="Price">{{elements.price}}</td>
                    <td data-label="Quantity">{{elements.quantity}}</td>
                    <td data-label="Date">{{elements.date}}</td>
                    <td data-label="Time">{{elements.time}}</td>
                    <td [ngClass]="{'green': (elements.price < 0),'red':(elements.price > 0)}" style="font-size: large;">
                    {{elements.type}}</td>
                    <td>{{elements.status}}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <p *ngIf="!history" class="noData">
        Nothing available in your Transactions
    </p>
</div>