<div style="margin-bottom: 90px; margin-top: 40px;">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <div class="container">
    <section class="text-center about">
      <h1>About US</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fas fa-chart-bar"></span>
            <h2>Section 1</h2>
            <p class="lead">TradeBull is one of the biggest autonomous full-benefit retail broking houses in India as
              far
              as dynamic customers on NSE starting at July 31, 2018. We are an innovation-driven money related
              administrations organization, that gives broking and warning administrations, edge subsidizing, credits
              against offers (through one of our Subsidiary, TradeBull Fincap Private Limited), and budgetary items
              conveyance to our customers under the brand TradeBull.</p>
          </div>
          <div class="col-lg-4 col-sm-4 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info"></span>
            <h2>Section 2</h2>
            <p class="lead">Our broking administrations are offered through (I) our on the web and computerized stages
              and
              (ii) our system of in excess of 11,000 sub-intermediaries, as of June 30, 2018. We have more than 850,000
              downloads of our ‘Organization Name’ versatile application and more than 450,000 downloads of TradeBull
              BEE
              application, which empowers our customers to profit our administrations carefully.</p>
          </div>
          <div class="clearfix visible-md-block visible-sm-block"></div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-file"></span>
            <h2>Section 3</h2>
            <p class="lead">We trust that our experience of more than two decades has assisted us to coordinate our
              insight and mastery in the broking business with the innovation we give to our retail customers through
              different stages.‘Organization Name’ was the pioneer in the retail broking industry with its dispatch of
              5paisa exchanging stage which offered the most minimal business in the business and the opportunity from
              conventional methods for executing.</p>
          </div>
        </div>

      </div>
    </section>

  </div>
  <div>
    <img src="https://c0.wallpaperflare.com/preview/222/411/586/chart-trading-courses-forex.jpg" alt="Smiley face"
      style="float:right; width: 500px; height: 2000 px;">
    <div class="container">
      <div class="col-lg-8 col-sm-5 col-ex-12">
        <h2>Our Strengths</h2> <br>
        <b>
          <p class="p1">We believe we have the following competitive strengths: </p>
        </b>
        <li class="p1"> Our Company is one of the well-known independent full-service retail broking houses in India in
          terms of active clients on NSE as of June 30, 2020. </li>
        <li class="p1">We ensure the utmost client satisfaction by implementing advanced technology platforms and
          digitisation.</li>
        <li class="p1"> Strong client base through our online and digital platform and sub-broker network</li>
        <li class="p1"> Significant market share in the cash and commodity segment</li>
        <li class="p1"> We have proven a track record of continuous growth and strong financial performance.</li>
        <li class="p1"> Proven and experienced management team and execution strength</li>
      </div>
    </div>
    <br><br>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUGEi_qrjQccViLq9HR52tekcjutJ5GwXWJsxNLAfHaqTMMnYHOBN7DbYYRwusU1Zzawo&usqp=CAU"
      alt="Smiley face" style="float:right; width: 500px; height: 1000 px;">
    <div class="container">
      <div class="col-lg-8 col-sm-5 col-ex-12">
        <h2>Our Vision</h2> <br>
        <li class="p1">To provide the best value for money to investors through innovative products, investment
          strategies, advanced technology, and personalized service.</li>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="col-lg-8 col-sm-5 col-ex-12">
        <h2>Our Aim</h2> <br>
        <li class="p1">To have complete harmony between quality in process and continuous improvement to deliver
          exceptional service that will benefit our clients.</li>
      </div>
    </div>
    <br><br>
  </div>
  <br><br>
</div>
<app-footer></app-footer>