<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<footer class="footer" style="position: fixed; bottom: 0pt; left: 0pt; right: 0pt; height: 100px; padding-top: 0px;height: 70px;">
        <div class="container bottom_border">
                <div class="row" style="height: 62px;">
                        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                                <h5 class="headin5_amrc col_white_amrc pt2" style="text-align: center;">Tradebull...</h5>
                                <!--headin5_amrc-->
                                <p class="mb10">&nbsp;&nbsp;&nbsp;&nbsp;We make decisions that aren't based just on our own needs.</p>
                        </div>


                        <div class=" col-sm-4 col-md  col-6 col">
                                <h5 class="headin5_amrc col_white_amrc pt2" style="margin-left: 25%; text-align: center;">Quick links...</h5>
                                <!--headin5_amrc-->
                                <ul class="footer_ul_amrc" style="margin-left: 25%; text-align: center;">
                                        <li><a routerLink="/home">Home</a> &nbsp;&nbsp;
                                                <a routerLink="/about">About us</a> &nbsp; &nbsp; 
                                                <a routerLink="/contact">Contact us</a></li>
                                </ul>
                                <!--footer_ul_amrc ends here-->
                        </div>

                        <div class=" col-sm-4 col-md  col-12 col" style="text-align: center;font-size: 12px;" >
                                <h5 class="headin5_amrc col_white_amrc pt2" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Follow us...</h5>
                                <!--headin5_amrc ends here-->

                                <ul class="social_footer_ul">
                                        <li><a href="https://www.Atyeti.com/"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.atyeti.com/"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.atyeti.com/"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="https://www.atyeti.com/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <!--footer_ul2_amrc ends here-->
                        </div>
                </div>
        </div>


        <div class="container" style="position: fixed;bottom: 2px;left: 80px;">

                <!--foote_bottom_ul_amrc ends here-->
                <p class="text-center">Copyright @2021 | Designed by <a href="#">Software trainee(Atyeti)</a></p>

                
                <!--social_footer_ul ends here-->
        </div>
            <button *ngIf="isShow" (click)="gotoTop()">TOP <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </footer>
      
        
