.card
{
    height:100%;
    margin-left:40px;
    width:600px;
    padding-left:50px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.4);
    background-color: #E2E0E0
}
.heading
{
    text-align:center;
}
.company-details label
{
    font-weight: 600;
    color:rgb(43, 43, 40)
}
.company-details p
{
    font-weight: 600;
    color:rgb(202, 108, 46)
}
.buy-btn
{
    width:150px;
    font-weight: 600;
    font-size: 18px;
    border:black solid 1px;
    /* border-radius: 20px 25px 20px 25px */
}
.about
{
  
    margin-top:2%;
    font-size: 20px;
}
.buy-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }