<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />

<div class="login bgimg" style="margin-bottom: 160px; margin-top: 5px;">
  
  <form (ngSubmit)="checkLogin(user, mail, password)">
    <div class="card align-items-center container containerLogin">
      <h2 class="forgetTitle">Forgot Your Password?</h2>
      <div class="formElements">
        <div *ngIf="invalidLogin" class="text-danger">
          <br />
          {{ errorMessage }}<br />
        </div>

        <div class="username">
          <br /><label>UserName</label> 
          <div class="forgetInputs">
            <input type="text" required class="form-control" name="username" [(ngModel)]="username" #user="ngModel"
              minlength="3" placeholder="Username" />
          </div>

          <div *ngIf="user.invalid" class="text-danger warningMessage">
            <div *ngIf="true && user.errors.minlength">
              Minimum 3 character required
            </div>
          </div>
        </div>
        <br />
        <div class="mailId">
          <label>Mail ID</label>
          <div class="forgetInputs">
            
            <input type="email" required class="form-control" name="mailid" [(ngModel)]="mailid" #mail="ngModel"
              minlength="3" email placeholder="Email" />
          </div>

          <div *ngIf="mail.invalid; else elseBlock" class="text-danger warningMessage">
            <div *ngIf="mail.errors.minlength">
              Minimum 3 character required
            </div>
            <div *ngIf="mail.errors.email && !mail.errors.minlength">
              Enter a valid Mail ID
            </div>
          </div>
        </div>

        <div class="password">
          <br /><label>Enter new Password</label>
          <div class="forgetInputs">
           
            <input type="password" class="form-control" name="password" [(ngModel)]="password" #pass="ngModel" required
              minlength="3" placeholder="Password" />
          </div>

          <div *ngIf="pass.invalid" class="text-danger warningMessage">
            <div *ngIf="pass.errors.minlength">
              Minimum 3 character required
            </div>
          </div>
        </div>
      </div>
      <br /><button type="submit" [disabled]="checkValidLogin(user, mail, pass)" class="btn btn-primary">
        Submit</button><br />
    </div>
  </form>
</div>
<app-footer></app-footer>