<app-adminnavbar></app-adminnavbar>
<body style="margin-bottom: 62px; margin-top: 40px;">
    <div class="container">
        <br><br>
        <div class="afterlogin" *ngIf="isLogedIn()" >
        <div *ngIf="company" class="table-responsive-md " id="">

            <button type="submit" class="btn btn-primary buy-btn" (click)="goToAddcompany()">Add Stock
            </button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-info" (click)="gotoAllClient()">Get-All-Clients</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-success" (click)="gotoOrders()">Orders</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-warning" (click)="goToFundRequest()">Fund Requests</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-dark" (click)="goAdminProfile()">Admin Profile</button>
           
            <table class="table table-borderles table-hover" id="excel-table" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Company Id</th>
                        <th>Open Price</th>
                        <th>Close Price</th>
                        <th>Least Rate</th>
                        <th>Peak Rate</th>
                        <th>Year Low</th>
                        <th>Year High</th>
                        <th>P E Ratio</th>
                        <th>Market Cap</th>
                        <th>Quantity</th>
                        <th>Current Price</th>
                        <th>Action</th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let elements of company | async ">

                        <td data-label="Company Name">{{elements.name}}</td>
                        <td data-label="Company Id">{{elements.company_id}}</td>
                        <td data-label="Open Price">{{elements.open_rate}}</td>
                        <td data-label="Close Rate">{{elements.close_rate}}</td>
                        <td data-label="Least Rate">{{elements.least_rate}}</td>
                        <td data-label="Peak Rate">{{elements.peak_rate}}</td>
                        <td data-label="Year Low">{{elements.year_low}}</td>
                        <td data-label="Year High">{{elements.year_high}}</td>
                        <td data-label="P E Ratio">{{elements.p_e_ratio}}</td>
                        <td data-label="Market Cap">{{elements.market_cap}}</td>
                        <td data-label="Volume">{{elements.volume}}</td>
                        <td data-label="Current Rate">{{elements.current_rate}}</td>
                        <td ><button type="submit" class="btn btn-outline-danger"
                                (click)="deleteCompany(elements.company_id)">Delete </button></td>
                        <td><button type="submit" class="btn btn-outline-success"
                                (click)="updateCompany(elements.company_id)">Update </button></td>

                    </tr>

                </tbody>
            </table>
        </div>




        <p *ngIf="!company" class="noData">
            Nothing available
        </p>
    </div>
    </div>
</body>
