
.noData
{
    margin-top:4%;
    margin-left: 10px;
    margin-right: 70px;
    font-size: 13px;
    color:rgb(250, 245, 245);
    font-weight: 600;
}



.sub-entry {
  width: 30%;
  float: left;
}
.sub-entry1 {
  width: 40%;
  float: right;
}
.button {
  
  padding-top: 11px;
  padding-left: 30px;
  clear: both;
}

body{
  background: linear-gradient(#bdc3c7,#2c3e50);
  height: 100vh;
}


