/* login */
.formicon {
  padding: 75px;
}
.btnlogin {
  margin-left: -80px;
}

.mailId {
  height: 100%;
}
.btnset1 {
  margin-right: -210px;
}

.btncheck {
  margin-right: 10px;
}

.formtagline {
  padding: 55px;
}

.mybtn {
  margin-left: -145px;
}

.headingLogin {
  text-align: center;
  color: white;
}

.background {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: -1%;
  width: 100%;
  height: 100%;
}

.containerLogin {
  margin-top: 1%;
  width: 90%;
  height: 100%;
  margin-left: 10px;
  box-shadow: 10px 10px 10px 10px rgb(214, 197, 197);
}

.sideimage {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 1%;
  width: 70%;
  height: 89%;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #343a40;
  color: white;
}

.alertLogin {
  margin-top: 25px;
}
.registerButton {
  color: black !important;
  cursor: pointer;
  margin-top: 10px;
}

/* register */

.headingRegister {
  text-align: center;
}


.containerRegister {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  width: 21rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(0, 0, 0, 0.384);
  color: white;
}
.containerforget{
  margin-top: -420px;
}
.loginButton {
  color: #0fbcf9 !important;
  cursor: pointer;
}
.alertRegister {
  margin-top: 15px;
}

.formElements {
  height: 100%;
}

.warningMessage {
  font-size: 13px;
}

.containerside {
  height: 100%;
}

.passwordTooltip {
  margin-top: -15%;
  float: right;
  margin-right: 4%;
}

.passwordTooltip :hover {
  background-color: rgb(3, 3, 7);
}

input {
  width: 90%;
}
label {
  font-weight: bold;
}
.bgimg {
  height: 100%;
}
