<app-adminnavbar></app-adminnavbar>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="heading" style="margin-bottom: 62px; margin-top: 40px;">

    <div class="afterlogin" *ngIf="isLogedIn()">
        <button type="submit" class="fas fa-arrow-alt-circle-left" (click)="goToclients()"
            style="border-radius: 10px; border-color: green; background-color: blanchedalmond;"></button>
        <div *ngIf="history" class="table-responsive-md " id="">



            <table class="table table-borderles table-hover" id="excel-table" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Company Name</th>
                        <th>Company Id</th>
                        <th>Amount</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Buy/Sell</th>


                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let elements of history | async ">
                        <td data-label="Order ID">{{elements.sno}}</td>
                        <td data-label="Company Name">{{elements.company_name}}</td>
                        <td data-label="Company ID">{{elements.company_id}}</td>
                        <td data-label="Amount">{{elements.price}}</td>
                        <td data-label="Quantity">{{elements.quantity}}</td>
                        <td data-label="Date">{{elements.date}}</td>
                        <td data-label="Time">{{elements.time}}</td>
                        <td  data-label="Type" [ngClass]="{'green': (elements.price < 0),'red':(elements.price > 0)}"
                            style="font-size: large;">
                            {{elements.type}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

        <p *ngIf="!history" class="noData">
            Nothing available in your Transactions
        </p>
    </div>
</div>
<app-footer></app-footer>