.user-img img{    
    width: 40%;
    height: 40%;
    margin-left: 50%;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: rgb(97, 74, 74);
}
.profile-head h6{
    color: #63638a;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #030e1a;
}

.col-6{
    margin-top: 80px;
}



/* table for request */

#table-wrapper {
    position:relative;
  }
  .my-custom-scrollbar {
    height:300px;
    width: 600px;
    overflow:auto;  
    margin-top:30px;
    position: relative;      
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    background:yellow;
    color:black;
  }
   
  tr{
    background-color: rgb(226, 224, 224);
    color: black;
    font-weight: bold;
}

@media(max-width: 769px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 90%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position:absolute;
        left: 0%;
        width: 30%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        color: rgb(219, 30, 30);
        font-style: oblique;
        font-family: sans-serif;
    }
    .table tbody tr td .btn{
       width: 140px;
        text-decoration: none;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        left:40px;
        
    }
}