<br>

<div class="container " >
    <br>
     <h5 style="text-align: center;">company detail</h5>
      <div *ngIf="companyDetails"> 
        <table class="table table-bordered table-striped">
          <tbody>
           <tr>
            <td>Company Name : {{companyDetails.name}}</td>
            <td>Open Rate : {{companyDetails.open_rate}}</td>
            <td>Closing Rate : {{companyDetails.close_rate}}</td>
           </tr>
            <tr>
              <td>Today's Peak Rate : {{companyDetails.peak_rate}}</td>
              <td>Today's Least Rate : {{companyDetails.least_rate}}</td>
              <td>52 Week High : {{companyDetails.year_high}}</td>
            </tr>
            <tr>
              <td>52 Week Low: {{companyDetails.year_low}}</td>
              <td>Market Cap: {{companyDetails.market_cap}}</td>
              <td>Price/Earings ratio: {{companyDetails.p_e_ratio}}</td>
            </tr>
            <tr>
              <td>Volume : {{companyDetails.volume}}</td>
              <td></td>
              <td text-align: right> <div class="btn btn-primary buy-btn" (click)="goToBuyPage()" style="margin-left:100px ;">Buy </div></td>
            </tr>
       </tbody>
     </table>
     <app-chartview></app-chartview>
     <br><br> <br><br>
    
     
   </div> 
    <!-- <div class="col-md-4 ">
         <div class="flex">
          <div class="flex-item">
            <div style="display: block;">
            <canvas baseChart width="500" height="500"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div> 
      </div> -->
  </div>
  <app-footer></app-footer>
